body {
    background: #2B2D42;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 800px;
    margin: 40px;
    width: 100%;
    overflow-wrap: break-word;
}

.container {
    background-color: #fff;
    padding: 20px;
}