body {
    background: #2B2D42;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 800px;
    margin: 40px;
    width: 100%;
    overflow-wrap: break-word;
}

.container {
    background-color: #fff;
}

.container,
.navbar {
    padding: 20px;
}

.navbar {
    align-items: center;
    background-color: #FE6244;
    color: white;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
}