body {
    color: #2B2D42;
    font-family: 'Trebuchet MS', sans-serif;
}

a,
button {
    color: #FF3800
}

.title-lg {
    font-size: 175%;
}

.title-md {
    font-size: 150%;
}

.title-sm {
    font-size: 125%;
}

.text-sm {
    font-size: 80%;
}

.text-gray {
    color: #a0a0a0
}